@use 'src/styles/colors';

.switcher-lang {
    height: 30px;
    border-radius: 2px;
    transition: all 0.2s ease;
    margin-right: 25px;

    &.light {
        background: colors.$primary-color;
        border: 1px solid colors.$secondary-color;
        color: colors.$secondary-color;
    }

    &.dark {
        background: colors.$secondary-color;
        border: 1px solid colors.$primary-color;
        color: colors.$primary-color;
    }

    &:hover {
        cursor: pointer;
    }
}
