@use '../../styles/colors';

.header {
    background-color: colors.$primary-color;
    color: colors.$secondary-color;

    &__container {
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}
