@use 'src/styles/colors';

.form-add-todo {
    margin-bottom: 20px;
    display: flex;

    input {
        flex: 1 0 auto;
        margin-right: 20px;
        height: 50px;
        background: none;
        border: 1px solid colors.$secondary-color;
        border-radius: 5px;
        color: colors.$secondary-color;
        padding: 10px 25px;
        font-size: 16px;

        &::placeholder {
            transition: all 0.2s ease;
        }

        &:focus {
            box-shadow: 0 0 5px 0 colors.$secondary-color;
            &::placeholder{
                opacity: 0;
            }
        }
    }

    button {
        width: 150px;
        border-radius: 5px;
        background-color: colors.$secondary-color;
        color: colors.$primary-color;
        font-size: 16px;
        transition: all 0.2s ease;

        &:hover {
            background-color: colors.$helper-color;
        }

        &:active {
            background-color: transparent;
            border: 1px solid colors.$helper-color;
            color: colors.$helper-color;
        }

        &:disabled {
            background-color: colors.$secondary-color;
            opacity: 0.4;
            cursor: not-allowed;
        }
    }
}
